/* Responsive */

/* (1200px - 1420px) */

@media screen and (max-width: 1420px) {
    .container, .header-container{
        width: 960px;
    }
    .become{
        &-block{
            &__text:last-child{
                line-height: 1.4em;
            }
        }
    }
}

/* (992px - 1200px) */
@media screen and (max-width: 1200px) {
    .container, .header-container{
        width: 960px;
    }
    .header{
        height: 1045px;
        background-position: 50% 50%;
        &-navbar{
            flex-direction: column;
            align-items: center;
        }
        &-slider{
            display: none;
        }
        &-container{
            padding-left: 200px;
            &__block:first-child{
                margin-top: 30px;
            }
        }
        &-contacts{
            padding-top: 580px;
        }
    }
    .navbar-block:last-child{
        margin-top: 50px;
    }
    
    .about{
        &__title{
            margin-bottom: 100px;
        }
        &-body{
            justify-content: center;
            &__pict{
                display: none;
            }
            &__item:first-child{
                margin-right: 30px;
            }
        }
    }
    .best{
        .container{
            width: 100%;
        }
    }
    .swiper{
        &-container{
            width: 690px !important;
        }
        &-slide{
            width: 442px !important;
        }
    }
    .partners{
        &-block{
            &__img{
                margin-right: 80px;
            }
        }
    }
    .become{
        &-block{
            flex-direction: column-reverse;
            &__item:first-child{
                display: flex;
                margin: 0 auto;
                padding-top: 70px;
            }
            &__item:last-child{
                display: flex;
                flex-direction: column;
                margin: 0 auto;
            }
            &__btn{
                margin-right: 29px;
            }
            &__address:first-child{
                text-align: left;
                margin-right: 355px;
            }
            &__address:last-child{
                text-align: right;
                margin-right: 25px;
            }
        }
    }
}

/* (760px - 992px) */
@media screen and (max-width: 992px){
    .container, .header-container, .footer-block{
        width: 720px;
    }
    .header{
        height: 800px;
        &-container{
            &__block:first-child{
                margin-left: -130px;
                padding-top: 150px;
            }
        }
        &-contacts{
            display: none;
        }
        &-navbar{
            display: flex;
            justify-content: space-between;
            flex-direction: column;
            &__phone{
                margin-left: 0;
            }
            &__item{
                display: block;
                margin-bottom: 45px;
            }
            &__item:first-child{
                margin-top: 40px;
            }
        }
    }
    .navbar{
        &-block{
            &__links{
                position: absolute;
                left: -100%;
                padding: 140px 0px 0px 40px;
            }
        }
        &-block:last-child{    
            margin-top: 0;
            margin-left: auto;
            margin-right: 0px;
        }
        &-brands{
            &__block{
                display: flex;
                flex-direction: column;
            }
            &__elem{
                width: 140px;
                display: flex;
                justify-content: space-between;
                align-items: center;
                margin-top: 45px;
                margin-left: 40px;
            }
        }
        &-hamb{
            cursor: pointer;
            display: block;
            margin: -10px auto 0 10px;
            position: absolute;
            z-index: 4;
            span::before{
                content: '';
                display: block;
                width: 26px;
                height: 3px;
                background: #FFFFFF;
                transition: .3s;
                transform: translateY(-7px);
            }
            span{
                display: block;
                width: 21px;
                height: 3px;
                transition: .3s;
                background: #FFFFFF;
            }
            span::after{
                content: '';
                display: block;
                width: 12px;
                height: 3px;
                background: #FFFFFF;
                transition: .3s;
                transform: translateY(4px);
            }
        }
    }
    .become{
        &-block{
            &__message{
                width: 270px;
            }
            &__element{
                display: flex;
            }
            &__item{
                width: 720px;
            }
            &__contact{
                form{
                    input{
                        width: 170px;
                    }
                }
            }
            &__contact:first-child{
                width: 440px;
            }
            &__send{
                width: 720px;
                justify-content: space-between;
            }
        }
    }
    .best{
        &-block{
            margin-left: 100px;
        }
        &-main{
            &__block{
                margin-left: 20px;
            }
        }
    }
}

/* (540px - 720px) */
@media screen and (max-width: 720px){
    .header-container, .container{
        width: 540px;
    }
    
}

/* (0px - 540px) */

@media screen and (max-width: 540px){
    
}