/* General styles */

$OpenSans: 'Open Sans', sans-serif;
$OpenSansCondensed: 'Open Sans Condensed', sans-serif;

*{
    box-sizing: border-box;
}

.fa{
    color: #fff;
}

body{
    margin: 0;
    padding: 0;
    position: relative;
    box-sizing: bo;
}

.container{
    width: 1110px;
    margin: 0 auto;
}

p{
    font-family: $OpenSans;
}

a, h1, h2, h3, h4 {
    font-family: $OpenSansCondensed;
    line-height: 0;
    font-weight: bold;
}

h2{
    color: #fff;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    font-weight: 300;
    font-size: 48px;
}

a{
    text-decoration: none;
    color: #fff;
    text-transform: uppercase;
}

span{
    color: #D1A954;
}

/*
    The other styles
*/

.animate__animated{
    opacity: 0;
}

/*
    Styles for JS
*/

.navbar-active {
    left: 0% !important;
    transition: 0.3s;
    background: #333333;
    width: 300px;
    z-index: 3;
    height: 100%;
    top: 0;
}

.active {
    display: block !important;
    z-index: 10;
}

.navbar-hamb.open .navbar-hamb__burger::before {
    transform: rotate(45deg) translateX(0px);
    transition: 0.3s all ease-in-out;
}

.navbar-hamb.open .navbar-hamb__burger{
    transform: translateX(-10px);
    background: transparent;
    transition: 0.3s;
}

.navbar-hamb.open {
    transform: translateX(180px);
    transition: 0.3s;
}

.navbar-hamb.open .navbar-hamb__burger::after {
    width: 26px;
    transform: rotate(-45deg) translateY(-2px) translateX(2px); 
    transition: 0.3s;
}

.styles{
    opacity: .4s;
    display: block;
}

/* Header and navbar/ first block */

.header{
    position: relative;
    width: 100%;
    padding: 50px 0px 122px;
    background: url(../img/background.webp);
    background-size: cover;
    &-navbar{
        display: flex;
        justify-content: space-between;
        &__item{
            margin-right: 60px;
            text-transform: uppercase;
            font-size: 18px;
        }
        &__item:last-child{
            margin-right: 0;
        }
        &__phone{
            font-size: 16px;
            border-bottom: 2px solid #D1A954;
            padding-bottom: 3px;
        }
        &__item, &__phone{
            color: #fff;
            letter-spacing: 0.05em;
            text-decoration: none;
        }
    }
    &-container{
        position: relative;
        display: flex;
        justify-content: space-between;
        width: 1110px;
        margin: 0 auto;
        &__block:first-child{
            padding-top: 280px;
        }
        &__block:last-child{
            padding-top: 190px;
        }
        &__title{
            color: #fff;
            text-transform: uppercase;
            font-size: 64px;
            letter-spacing: 0.1em;
            margin-bottom: 70px;
        }
        &__text{
            color: #fff;
            width: 540px;
            font-size: 14px;
            line-height: 1.5em;
            margin-bottom: 49px;
        }
        &__btn{
            background: #D1A954;
            padding: 11px 45px;
            letter-spacing: 0.1em;
        }
        &__slider{
            display: flex;
            justify-content: space-between;
            margin-top: 25px;
        }
        &__item{
            display: flex;
            align-items: center;
        }
        &__arrow{
           width: 41px;
           height: 16px;
        }
        &__info{
            letter-spacing: 0.1em;
            font-size: 18px;
        }
        &__arrow:first-child{
            padding-right: 25px;
        }
        &__arrow:last-child{
            padding-left: 25px;
        }
    }
    &-contacts{
        position: absolute;
        display: flex;
        flex-direction: column;
        background: #333333;
        opacity: 0.75;
        width: 150px;
        padding: 330px 0px 86px;
        box-sizing: border-box;
        height: 100%;
        top: 0;
        &__text{
            transform: rotate(-90deg);
            display: flex;
            align-self: center;
            color: #C4C4C4;
            text-transform: uppercase;
            font-family: $OpenSansCondensed;
            font-size: 18px;
            letter-spacing: 0.1em;
            font-weight: bold;
            width: 250px;
        }
        &__line{
            display: block;
            margin: 0 auto;
            height: 80px;
            width: 3px;
            background: #C4C4C4;
            margin-top: 140px;
        }
        &__brend{
            margin-top: 30px;
            cursor: pointer;
        }
        &__brend:hover{
            color: #D1A954;
            transition: .4s;
        }
    }
    &-brends{
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 10px;
    }
}

.navbar{
    &-brands, &-hamb{
        display: none;
    }
    &-hamb{
        transition: 0.3s;
    }
}

/* About / Second block */

.about{
    background: #333333;
    padding: 150px 0px;
    &-body{
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-top: 90px;
        &__title{
            color: #fff;
            font-weight: bold;
            letter-spacing: 0.1em;
            text-transform: uppercase;
            font-size: 21px;
            margin-bottom: 40px;
        }
        &__text{
            color: #fff;
            font-size: 14px;
            line-height: 1.9em;
            width: 445px;
        }
        &__info{
            font-family: $OpenSansCondensed;
            font-size: 16px;
            font-weight: bold;
            letter-spacing: 0.05em;
            color: #fff;
        }
        &__good{
            padding-top: 25px;
        }
    }
}

/* 
    Staging / third block
*/

.staging{
    background: #333333;
    padding: 1px 0px;
    position: relative;
    &__title{
        margin-bottom: 100px;
    }
    &-body{
        display: flex;
        width: 100%;
        height: 550px;
        &__img{
            position: relative;
            height: 550px;
            width: 25% !important;
        }
        &__oscar{
            background: url(../img/oscar.webp);
            background-repeat: no-repeat;
            background-size: cover;
            background-position: 50% 50%;
        }
        &__moliere{
            background: url(../img/Moliere.webp);
            background-repeat: no-repeat;
            background-size: cover;
            background-position: 50% 50%;
        }
        &__gramaphone{
            background: url(../img/gramaphone.webp);
            background-repeat: no-repeat;
            background-size: cover;
            background-position: 50% 50%;
        }
        &__nutcracker{
            background: url(../img/nutcracker.webp);
            background-repeat: no-repeat;
            background-size: cover;
            background-position: 50% 50%;
        }
        &__link{
            position: absolute;
            top: calc(50% - 40px);
            left: calc(50% - 50px);
            opacity: 0;
            width: 30px;
            height: 30px;
            background: url(../img/search.png) no-repeat;
            background-position: 50% 50%;
            border-radius: 100px;
            width: 100px;
            height: 100px;
            background-color: #D1A954;
        }
        &__img:hover &__link{
            transition: .5s;
            opacity: 1;
            display: block;
        }
        &__img:hover &__text{
            opacity: 0;
            transition: .4s;
        }
        &__img:hover &__date {
            opacity: 0;
            transition: .4s;
        }
        &__text, &__date{
            font-family: $OpenSansCondensed;
            font-weight: bold;
            text-transform: uppercase;
            color: #fff;
        }
        &__text{
            letter-spacing: 0.05em;
            font-size: 24px;
            margin: 40px 0px 0px 40px;
        }
        &__date{
            letter-spacing: 0.1em;
            font-size: 18px;
            transform: rotate(-90deg);
            position: absolute;
            margin-right: 265px;
            margin-top: 350px;
        }
    }
}

/*
    Best / fourth block
*/

.best{
    background: #333333;
    padding: 150px 0px;
    position: relative;
    &-main{
        background: url(../img/best.webp);
        background-size: cover;
        background-position: 50% 50%;
        padding: 126px 0px;
        display: flex;
        justify-content: center;
        &__item{
            display: flex;
            justify-content: space-between;
            width: 825px;
        }
        &__img{
            margin-right: 20px;
        }
        &__text{
            font-weight: bold;
            font-size: 36px;
            color: #fff;
            margin-top: 25px;
        }
        &__block{
            margin-left: 100px;
            margin-top: 70px;
        }
    }
    &-block{
        &__text{
            display: block;
            font-weight: bold;
            font-size: 72px;
            letter-spacing: 0.1em;
            text-transform: uppercase;
            color: #D1A954;
            line-height: 0.3em;
        }
    }
}

/*
    Partners / fifth block
*/
.partners{
    padding: 1px 0px;
    background: #333333;
    &__title{
        margin-bottom: 20px;
    }
    &-block{
        margin-top: 40px;
        &__item{
            display: flex;
            margin-top: 80px;
        }
        &__img{
            margin-right: 103px;
        }
    }
}

/*
    Become / sixth block
*/

.become{
    padding: 120px 0px 80px;
    background: #333;
    &__title{
        margin-bottom: 100px;
    }
    &-block{
        display: flex;
        justify-content: space-between;
        &__text{
            font-family: $OpenSansCondensed;
            font-weight: bold;
            font-size: 16px;
            letter-spacing: 0.05em;
            text-transform: uppercase;
            color: #fff;
            line-height: 0.7em;
        }
        &__input{
            width: 180px;
            height: 35px;
            background: #444;
            border: 1px solid #616161;
            box-sizing: border-box;
            padding-left: 15px;
            color: #989898;
            font-size: 12px;
            font-weight: 600;
            font-family: $OpenSans;
            margin: 0px 30px 30px 0px;
        }
        &__message{
            width: 310px;
            height: 100px;
            padding-bottom: 63px;
        }
        &__element{
            display: flex;
        }
        &__address{
            display: flex;
            flex-direction: column;
        }
        &__btn{
            width: 190px;
            height: 50px;
            background: #D1A954;
            border: 0;
            display: block;
            margin-left: 154px;
            cursor: pointer;
        }
        &__info{
            width: 390px;
            font-size: 12px;
            color: #989898;
        }
        &__send{
            display: flex;
        }
        &__btn{
            margin-top: 13px;
        }
    }
}

/*
    footer / seventh block
*/

.footer{
    background: #333;
    padding-bottom: 30px;
    &-block{
        position: relative;
        display: flex;
        justify-content: space-between;
        margin: 0 auto;
        &__text{
            color: #989898;
            font-size: 12px;
            margin-top: 27px;
        }
        &__line{
            position: absolute;
            width: 100%;
            height: 1px;
            background: #565656;
        }
    }
}